html,
body {
	height: 100%;
}

body {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

#viewport {
	width: 1000px;
	height: 256px;
	position: relative;
	overflow-x: auto;
}

#viewport__inner {
	background-image: url("../images/water0.png");
	height: 100%;
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#ports {
	display: flex;
	justify-content: space-around;
}

.port {
	width: 64px;
	height: 32px;
	background-image: url("../images/port.png");
}

#ship {
	width: 61px;
	height: 64px;
	background-image: url("../images/lapras.png");
	position: absolute;
}

#sailbutton {
	border: 0;
	background-color: #fb3640;
	border-bottom: 4px solid #d8040f;
	color: white;
	font-family: inherit;
	padding: 10px 20px;
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: "Press Start 2P", cursive;
}

#sailbutton:focus {
	background-color: #d8040f;
	border-bottom-width: 0;
	padding-top: 14px;
}

#message {
	border: 0;
	background-color: #fff;
	border-top: 3px solid #000;
	color: #000;
	font-family: inherit;
	padding: 11px;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: "Press Start 2P", cursive;
}
